include config/_mixin
include config/_var

doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    link(rel="stylesheet" href="/css/app.css")

  body
    include partials/header.pug
    block content
    include partials/footer.pug

    script(src="/js/app.js")