extends ../_template

block content
    .container.mt-4
        H1 #{title} page
        form(id="mail2" action='/' method="POST" enctype="application/x-www-form-urlencoded")
            //- h4.form__subtitle Send request to DB
            p.status
            .form-group
                //- label(for='exampleInputEmail1') Имя
                input#exampleInputEmail1.form-control(type='text', name="name", aria-describedby='emailHelp', placeholder='Имя')
            .form-group
                //- label(for='exampleInputPassword1') E-mail
                input#exampleInputPassword1.form-control(type='emal', name="email", placeholder='E-mail')
            .form-group
                //- label(for='exampleFormControlTextarea1') Ваше сообщение
                textarea#exampleFormControlTextarea1.form-control(rows='3' name="text" placeholder="Ваше сообщение")
            button.btn.btn-primary.form__btn-send(type='submit') Отправить
            button.btn.btn-primary.form__btn-reset.mt-3(type='reset') Очистить
