extends ../_template

block content
  .container
    h1 Portfolio
    .row.mb-4
      each portfolioItem in portfolioData
        .col-12.col-sm-6.col-md-4
          .card
            .card-body
              h5(
                class="card-title"
              )= portfolioItem.title
              p(
                class="card-text"
              )= portfolioItem.description
              a.card-link(
                href='/portfolio/' + portfolioItem.id
              ) Open Portfolio
